/* category1 */


.category1{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 8rem;
}
.category1 .container{
    width: 70%;
    padding: 25px 0;
}
.category1 h2{
    text-align: left;
    width: 100%;
    padding-top: 80px;
    font-size: 2.75rem;
    letter-spacing: -.03125rem;
    line-height: 3.25rem;
    margin: 0 auto;
    font-weight: normal;
}
.category1 p{
    text-align: left;
    padding: 25px 10px;
    margin-bottom: 50px;
    display: block;
    white-space: normal;
    line-height: 1.6;
}

.category1 ul.sitelist{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category1 ul.sitelist li{
    width: 23%;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 0.0625rem solid #eee;
    transition: all 0.3s;
    overflow: hidden;
}
.category1 ul.sitelist li:nth-child(4n){
    margin-right: 0;
}
.category1 ul.sitelist li:hover{
    box-shadow: 1.5px 3px 0px 0px rgba(150, 150, 150, 0.377);
}
.category1 ul.sitelist li a{
    display: block;
    margin: 0 auto;
    text-align: left;
}
.category1 ul.sitelist li a .inner_img{
    width: 100%;
    overflow: hidden;
    height: 168px;
}
.category1 ul.sitelist li a .inner_img img{
    width: 100%;
    height: 100%;
    text-align: center;
}
.category1 ul.sitelist li a .inner_txt h3{
    padding: 3%;
    font-weight: normal;
}
.category1 ul.sitelist li a .inner_txt p{
    display: block;
    margin-bottom: 0;
    padding: 5%;
    font-weight: 400;
    color: #212121;
    font-size: 0.8em;
    line-height: 1.5rem;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px){
    .category1 h2{
        padding-top: 2rem;
        font-size: 2rem;
    }
    .category1 ul.sitelist li{
        width: 30%;
    }
    .category1 ul.sitelist li a .inner_img{
        height: 100px;
    }

}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px){
    .category1 .container{
        width: 70%;
    }
    .category1 h2{
        font-size: 1.25rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .category1 p{
        display: none;
    }
    .category1 ul.sitelist{
        display:inline;
        flex-wrap: nowrap;
        width: 85%;
    }
    .category1 ul.sitelist li{
        width: 100%;
        margin: 7% auto;
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid #eee;
    }
    .category1 ul.sitelist li a .inner_img{
        height: 120px;
        overflow: hidden;
    }
    .category1 ul.sitelist li .inner_txt{
        height: 100px;
    }
    .category1 ul.sitelist li .inner_txt h3{
        font-size: 1rem;
    }
    .category1 ul.sitelist li .inner_txt p{
        font-size: 0.75rem;
    }

    
}








/* category2 */
.category2{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 8rem;
}
.category2 .container{
    width: 70%;
    padding: 2rem 0;
}
.category2 h2{
    text-align: left;
    width: 100%;
    padding-top: 80px;
    font-size: 2.75rem;
    letter-spacing: -.03125rem;
    line-height: 3.25rem;
    margin: 0 auto;
    font-weight: normal;
}
.category2 p{
    text-align: left;
    padding: 25px 10px;
    margin-bottom: 50px;
    display: block;
    white-space: normal;
    line-height: 1.6;
}

.category2 ul.sitelist{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category2 ul.sitelist li{
    width: 23%;
    margin-right: 28px;
    box-shadow: 1px 2px 2px 0px rgba(129, 126, 126, 0.342);
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    border:0.0625rem solid #eee;
}
.category2 ul.sitelist li:nth-child(4n){
    margin-right: 0;
}
.category2 ul.sitelist li a{
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
}
.category2 ul.sitelist li a img{
    width: 100%;
    transition: all 0.6s;
}
.category2 ul.sitelist li:hover img{
    transform: scale(1.1);
}
.category2 ul.sitelist li a .inner_txt{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.category2 ul.sitelist li a .inner_txt h3{
    padding: 3%;
    font-size: 1.125rem;
    font-weight: normal
}
.category2 ul.sitelist li a .inner_txt p{
    display: block;
    margin-bottom: 0;
    padding: 5%;
    font-size: 0.75rem;
    letter-spacing: .01875rem;
    line-height: 1rem;
    text-align: center;
    color:rgb(247, 108, 119);
}
.category2 a.c2btn_wrap{
    width: 100%;
    height: 30px;
    display: block;
    margin: 50px 0;
}
.category2 a.c2btn_wrap .c2btn{
    width: 80px;
    height: 40px;
    float: right;
    border: 0;
    border-radius: 5px;
    background-color: rgb(39, 75, 235);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px){
    .category2{
        margin-bottom: 0;
    }
    .category2 h2{
        padding-top: 2rem;
        font-size: 1.5rem;
    }
    .category2 p{
        display: none;
    }
    .category2 ul.sitelist li{
        width: 30%;
        margin-right: 0;
    }
    .category2 a.c2btn_wrap{
        margin: 30px 0;
    }
}



/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px){
    .category2{
        margin-bottom: 4rem;
    }
    .category2 .container{
        width: 75%;
    }
    .category2 h2{
        font-size: 1.25rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .category2 p{
        display: none;
    }
    .category2 ul.sitelist{
        display:inline;
        flex-wrap: nowrap;
        width: 85%;
        position: relative;
    }
    .category2 ul.sitelist li{
        width: 100%;
        margin: 7% auto;
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid #eee;
    }
    .category2 ul.sitelist li a .inner_img{
        height: 145px;
        overflow: hidden;
    }
    .category2 ul.sitelist li .inner_txt{
        height: 80px;
    }
    .category2 ul.sitelist li a .inner_txt h3{
        font-size: 1rem;
        font-weight: 500;
    }
    .category2 ul.sitelist li a .inner_txt p{
        font-size: 0.75rem;
        padding: 3%;
    }
    .category2 a.c2btn_wrap {
        position: absolute;
        left: 14%;
        bottom: -2%;
        transform: translate(-50%,-50%);
    }

}







/* category3 */
.category3{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 8rem;
}
.c3_top .c3_section{
    width: 100%;
    background-color: #fff;
}
.c3_top .c3_section .container{
    width: 70%;
}
.c3_top .c3_section h2{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 4rem;
    font-weight: 700;
    font-size: 2.75rem;
    letter-spacing: .03125rem;
    line-height: 3.25rem;
}
.c3_top .c3_section span{
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .05rem;
    line-height: 1rem;
    text-transform: uppercase;
    text-align: left;
    display: block;
    padding: 2% 0;
}
.c3_top .c3_section .p1{
    text-align: center;
    padding: 0.5rem 0;
}
.c3_section_bt{
    width: 100%;
    padding: 3rem 0;
    display: flex;
    margin: 0 auto;
}
.c3_section_bt .bt_left{
    width: 50%;
}
.c3_section_bt .bt_left .txt_box1{
    width: 100%;
    margin-bottom: 30px;
}
.c3_section_bt .bt_left .txt_box1 h3{
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
    text-align: left;
}
.c3_section_bt .bt_left .txt_box1 p{
    padding: 2rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: .00625rem;
    word-break: keep-all;
}
.c3_section_bt .bt_right{
    width: 50%;
}
.c3_section_bt .bt_right img{
    width: 100%;
    height: auto;
}

.category3 .container{
    width: 70%;
    padding: 25px 0;
}
.category3 h2{
    text-align: left;
    width: 100%;
    padding-top:2rem;
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
}
.category3 p{
    text-align: left;
    padding: 25px 10px;
    margin-bottom: 50px;
    display: block;
    white-space: normal;
    line-height: 1.6;
}

.category3 ul.sitelist{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}
.category3 ul.sitelist li{
    width: 23%;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 0.0625rem solid #eee;
    overflow: hidden;
}
.category3 ul.sitelist li:nth-child(4n){
    margin-right: 0;
}
.category3 ul.sitelist li:hover{
    box-shadow: 1.5px 3px 0px 0px rgba(150, 150, 150, 0.377);
}
.category3 ul.sitelist li a{
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
}
.category3 ul.sitelist li a img{
    width: 100%;
}
.category3 ul.sitelist li a .inner_txt{
    width: 100%;
    margin-top: 15px;
}
.category3 ul.sitelist li a .inner_txt h3{
    padding: 3%;
}
.category3 ul.sitelist li a .inner_txt p{
    display: block;
    margin-bottom: 0;
    padding: 5%;
}
.category3 a.c3btn_wrap .c3btn{
    width: 80px;
    height: 40px;
    float: right;
    border: 0;
    border-radius: 5px;
    background-color: rgb(39, 75, 235);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    .category3 .c3_section h2{
        text-align: center;
        width: 70%;
        margin: 0 auto;
        padding-top: 3rem;
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: .03125rem;
        line-height: 3.25rem;
    }
    .category3 .c3_section h3{
        padding-top: 1rem;
    }
    .category3 .c3_section p{
        display: none;
    }
    .category3 ul.sitelist li{
        width: 30%;
        margin: 8px auto;
        box-shadow: 1px 1px 1px 1px rgb(233, 230, 230);
        overflow: hidden;
        border-radius: 10px;
        margin-right: 2%;
    }
    .category3 ul.sitelist li:last-child{
        margin-right: 188px;
    }
    .category3 ul.sitelist li a .inner_img{
        height: 110px;
    }
    .category3 ul.sitelist li a .inner_txt{
        height: 70px ;
        margin-top: 5%;
    }
    .category3 ul.sitelist li a .inner_txt h3{
        font-size: 1.125rem;
    }
    .category3 ul.sitelist li a .inner_txt p{
    display: none;
    }
  } 
  
  
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
  @media all and (max-width:767px) {
    .category3{
        margin-bottom: 4rem;
    }
    .category3 .container{
        width: 75%;
        margin-bottom: 7%;
    }
    .category3 .c3_top{
        display: none;
    }
    .category3 h2{
        font-size: 1.25rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .category3 p{
        display: none;
    }
    .category3 ul.sitelist{
        display:inline;
        flex-wrap: nowrap;
        width: 85%;
        position: relative;
    }
    .category3 ul.sitelist li{
        width: 100%;
        margin: 7% auto;
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid #eee;
    }
    .category3 ul.sitelist li a .inner_img{
        height: 145px;
        overflow: hidden;
    }
    .category3 ul.sitelist li .inner_txt{
        height: 120px;
    }
    .category3 ul.sitelist li a .inner_txt h3{
        font-size: 1rem;
        font-weight: 500;
    }
    .category3 ul.sitelist li a .inner_txt p{
        font-size: 0.75rem;
        padding: 3%;
    }
    .category3 a.c3btn_wrap {
        position: absolute;
        left: 50%;
        bottom: -1%;
        transform: translate(-50%,-50%);
    }
   }






/* container4 */
.category4{
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.category4 .container{
    width: 70%;
    margin: 0 auto;
}
.category4 h2{
    text-align: left;
    width: 100%;
    padding-top: 80px;
    font-size: 2.75rem;
    letter-spacing: -.03125rem;
    line-height: 3.25rem;
    margin: 0 auto;
    font-weight: normal;
}
.category4 .c4_contents h3{
    text-align: left;
    width: 100%;
    padding-top:80px;
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
}
.category4 p{
    text-align: left;
    margin-top: 20px;
    color: #666666;
}
.category4 ul.formlink{
    width: 100%;
    display: flex;
    margin: 50px 0;
}
.category4 ul.formlink li{
    width: 50%;
    border: 1px solid#eee;
    margin-right: 40px;
    border-radius: 10px;
}
.category4 ul.formlink li:last-child{
    margin-right: 0;
}
.category4 ul.formlink li a{
    display: block;
    padding: 4%;
}
.category4 ul.formlink li a h3{
    text-align: left;
    font-size: 22px;
}
.category4 ul.formlink li a p{
    font-size: 14px;
    margin: 20px 0;
    width: 50%;
}
.category4 ul.formlink li a.span_a{
    width: 50%;
    padding: 2%;
}
.category4 ul.formlink li a.span_a ul.icon_txt{
    display: flex;
    width: 50%;
}
.category4 ul.formlink li a.span_a ul.icon_txt li:nth-child(2){
    width: 70%;
}
.category4 ul.formlink li a.span_a ul.icon_txt li{
    margin: 0;
    border: 0;
    text-align: center;
    line-height: 3;
    width: 20%;
    display: block;
}
.category4 ul.formlink li a.span_a:hover ul.icon_txt li p{
    color: #b4b2b2;
}
.category4 ul.formlink li a.span_a ul.icon_txt li p{
    margin: 0;
    width: 100%;
    text-align: center;
}
.category4 .c4_contents{
    margin: 8rem 0;
}
.category4 ul.sitelist{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category4 ul.sitelist li{
    width: 23%;
    box-shadow: 1px 2px 2px 0px rgba(129, 126, 126, 0.342);
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}
.category4 ul.sitelist li:nth-child(4n){
    margin-right: 0;
}
.category4 ul.sitelist li a{
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
}
.category4 ul.sitelist li a img{
    width: 100%;
    transition: all 0.6s;
}
.category4 ul.sitelist li:hover img{
    transform: scale(1.1);
}
.category4 ul.sitelist li a .inner_txt{
    width: 80%;
    padding: 5%;
    margin: 5px 0;
}
.category4 ul.sitelist li a .inner_txt span{
    display: block;
    color: rgb(139, 136, 136);
    font-size: 0.75rem;
}
.category4 ul.sitelist li a .inner_txt p{
    display: block;
    margin-bottom: 0;
    text-align: left;
    font-size: 1rem;
    margin-top: 10%;
    font-weight: 500;
}
.category4 a.c4btn_wrap{
    width: 100%;
    height: 30px;
    display: block;
    margin: 50px 0;
}
.category4 a.c4btn_wrap .c4btn{
    width: 80px;
    height: 40px;
    float: right;
    border: 0;
    border-radius: 5px;
    background-color: rgb(39, 75, 235);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}





/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    .category4 h2{
        font-size:1.75rem ;
    }
    .category4 ul.formlink li a h3{
        font-size: 1rem;
    }
    .category4 ul.formlink li a p{
        width: 95%;
    }
    .category4 ul.formlink li a.span_a{
        width: 100%;
    }
    .category4 ul.formlink li a.span_a ul.icon_txt{
        width: 100%;
    }
    .category4 ul.formlink li a.span_a ul.icon_txt li p{
        width: 55%;
    }
    .category4 .c4_contents h3{
        padding-top: 0;
        font-size: 1.5rem;
    }
    .category4 ul.sitelist li{
        width: 48%;
    }
  } 
  
  
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
  @media all and (max-width:767px) {
    .category4 h2{
        font-size:1.125rem ;
        padding-top: 1rem;
    }
    .category4 p{
        display: none;
    }
    .category4 ul.formlink{
        display: inline;
        flex-wrap: nowrap;
    }
    .category4 ul.formlink li{
        width: 100%;
        margin-bottom: 5%;
    }
    .category4 ul.formlink li a h3{
        font-size: 0.75rem;
    }
    .category4 ul.formlink li a.span_a ul.icon_txt{
        height: 40px;
        width: 85%;
    }
    .category4 ul.formlink li a.span_a ul.icon_txt li{
        width: 40%;
    }
    .category4 ul.formlink li a.span_a ul.icon_txt img{
        width: 70%;
    }
    .category4 ul.formlink li a.span_a ul.icon_txt p{
        display: block;
        font-size: 0.7rem;
        width: 70%;
    }
    .category4 .c4_contents{
        margin: 4rem 0;
    }
    .category4 .c4_contents h3{
        padding-top: 0;
        padding-bottom: 5%;
        font-size: 1rem;
    }
    .category4 ul.sitelist{
        display: inline;
        position: relative;
    }
    .category4 ul.sitelist li{
        width: 100%;
    }
    .category4 a.c4btn_wrap{
        position: absolute;
        left: 15%;
        bottom: -2%;
        transform: translate(-50%,-50%);
    }
   }






/* category5 */
.category5{
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.category5 .container{
    width: 70%;
    margin: 0 auto;
    padding: 25px 0;
}
.category5 h2{
    text-align: left;
    padding-top : 50px;
    font-size: 2.75rem;
    letter-spacing: -.03125rem;
    line-height: 3.25rem;
    font-weight: normal;
}
.category5 p{
    width: 50%;
    text-align: left;
    padding: 25px 0;
    font-size: 16px;
}
.category5 .box_wrap{
    width: 100%;
    margin: 0 auto;
}
.category5 .box_wrap ul.c5{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}
.category5 .box_wrap ul.c5 li{
    width: 43%;
    border: 0.0625rem solid #eee;
    border-radius: 0.5rem;
    padding: 2%;
    margin-bottom:2em;
}
.category5 .box_wrap ul.c5 li:nth-child(2n){
    margin-left: 2em;
}
.category5 .box_wrap ul.c5 li a{
    display: block;
    width: 100%;
}
.category5 .box_wrap ul.c5 li h3{
    text-align: left;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: normal;
}
.category5 .box_wrap ul.c5 li p{
    display: block;
    width: 60%;
}
.category5 .box_wrap ul.c5 li img{
    width: 50%;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    .category5 h2{
        font-size: 1.75rem;
    } 
    .category5 p{
        width: 100%;
    }
    .category5 .box_wrap ul.c5 li:nth-child(2n){
        margin-left: 1em;
    }
    .category5 .box_wrap ul.c5 li h3{
        font-size: 1.125rem;
    }
    .category5 .box_wrap ul.c5 li p{
        width: 100%;
    }
  } 
  
  
  /* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
  @media all and (max-width:767px) {
    .category5 h2{
        font-size: 1.125rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    } 
    .category5 p{
        display: none;
    }
    .category5 .box_wrap ul.c5 {
        display: inline;
    }
    .category5 .box_wrap ul.c5 li{
        width: 100%;
    }
    .category5 .box_wrap ul.c5 li:nth-child(2n){
        margin-left: 0;
    }
    .category5 .box_wrap ul.c5 li h3{
        font-size: 1rem;
        padding-left: 3%;
    }
    .category5 .box_wrap ul.c5 li p{
        width: 90%;
        font-size: 0.7rem;
        padding:3%;
        line-height: 1.5;
    }
   }