@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none;color:#000;}
img{border:0 ;}
.container{margin: 0 auto;
    position: relative; width: 100%;}
body{
    color: inherit;
    font-family: 'Noto Sans KR', sans-serif;
}

/* section1 메인 상단 */

.contents .section1{
    width: 100%;
    background-color: #fff;
}
.contents .section1 .container{
    width: 70%;
}
.contents .section1 h2{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 4rem;
    font-weight: 700;
    font-size: 2.75rem;
    letter-spacing: .03125rem;
    line-height: 3.25rem;
}
.contents .section1 span{
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .05rem;
    line-height: 1rem;
    text-transform: uppercase;
}
.contents .section1 .p1{
    text-align: center;
    padding: 0.5rem 0;
}
.section1_bt{
    width: 100%;
    padding: 4rem 0;
    display: flex;
    margin: 0 auto;
}
.section1_bt .bt_left{
    width: 50%;
}
.section1_bt .bt_left .txt_box1{
    width: 100%;
    margin-bottom: 30px;
}
.section1_bt .bt_left .txt_box1 h3{
    font-size: 1.75rem;
    line-height: 2.25rem;
}
.section1_bt .bt_left .txt_box1 p{
    padding: 2rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: .00625rem;
    word-break: keep-all;
}
.section1_bt .bt_right{
    width: 50%;
}
.section1_bt .bt_right img{
    width: 100%;
    height: auto;
}

/* section2 도매사이트 모음 */

.section2{
    padding-bottom: 4rem;
    padding-top: 2rem;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
}
.section2 h2{
    text-align: left;
    width: 70%;
    padding-top:80px;
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
}

.section2 .section_wrap{
    width: 80%;
    margin: 0 auto;
}
.section2 .section_wrap ul.box_wrap{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}
.section2 .section_wrap ul.box_wrap li{
    width: 23%;
    margin: 20px auto;
    box-shadow: 1px 1px 1px 1px rgb(233, 230, 230);
    overflow: hidden;
    border-radius: 10px;
}
.section2 .section_wrap ul.box_wrap li:nth-child(4n){
    padding-right: 0;
}
.section2 .section_wrap ul.box_wrap li a{
    width: 100%;
    display: block;
}
.section2 .section_wrap ul.box_wrap li a .inner_img{
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.section2 .section_wrap ul.box_wrap li .inner_img img{
    width: 100%;
    height: 240px;
    transition: all 0.6s;
}
.section2 .section_wrap ul.box_wrap li:hover a .inner_img img{
    transform: scale(1.1);
}
.section2 .section_wrap ul.box_wrap li .inner_txt{
    width: 100%;
    height: auto;
    background-color: #fff;
    text-align: center;
    padding: 15px 0;
}
.section2 .section_wrap ul.box_wrap li .inner_txt h3{
    text-align: center;
    padding-top: 5px;
    font-size: 1.125rem;
    font-weight: 500;
}
.section2 .section_wrap ul.box_wrap li .inner_txt h4{
    text-align: center;
    padding: 15px 0;
}
.section2 .section_wrap ul.box_wrap li .inner_txt p{
    display: block;
    font-size: 0.75rem;
    width: 100%;
    padding: 10px 0;
}





/* section3 오늘의 도매 상품 */

.section3{
    padding-bottom: 4rem;
    padding-top: 2rem;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}
.section3 h2{
    text-align: left;
    width: 70%;
    padding-top:80px;
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
}
.main_btn2{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:rgb(175, 166, 166);
    border: 0;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.section3 .section_wrap{
    width: 70%;
    margin: 0 auto;
}
.section3 .section_wrap ul.box_wrap{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.section3 .section_wrap ul.box_wrap li{
    width: 23%;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 0.0625rem solid #eee;
    transition: all 0.3s;
    overflow: hidden;
}
.section3 .section_wrap ul.box_wrap li:nth-child(4n){
    margin-right: 0;
}
.section3 .section_wrap ul.box_wrap li:hover{
    box-shadow: 1.5px 3px 0px 0px rgba(150, 150, 150, 0.377);
}
.section3 .section_wrap ul.box_wrap li a img{
    width: 100%;
}
.section3 .section_wrap ul.box_wrap li a .inner_txt{
    width: 100%;
}
.section3 .section_wrap ul.box_wrap li .inner_txt h3{
    padding: 3%;
    text-align: center;
    font-weight: 400;
    font-size: 1.125rem;
}
.section3 .section_wrap ul.box_wrap li .inner_txt h4{
    text-align: center;
    font-weight: 400;
}
.section3 .section_wrap ul.box_wrap li .inner_txt p{
    display: block;
    margin-bottom: 0;
    padding: 3%;
    text-align: center;
    color:rgb(247, 108, 119);
    font-size: 0.75rem;
}


/* section4 오늘의 도매 베스트 상품 */
.section4{
    padding-bottom: 4rem;
    padding-top: 2rem;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}
.section4 h2{
    text-align: left;
    width: 70%;
    padding-top:80px;
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
}
.main_btn3{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:rgb(175, 166, 166);
    border: 0;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.section4 .section_wrap{
    width: 70%;
    margin: 0 auto;
}
.section4 .section_wrap ul.box_wrap{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.section4 .section_wrap ul.box_wrap li{
    width: 23%;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 0.0625rem solid #eee;
    transition: all 0.3s;
    background-color: #fff;
    overflow: hidden;
}
.section4 .section_wrap ul.box_wrap li:nth-child(4n){
    margin-right: 0;
}
.section4 .section_wrap ul.box_wrap li:hover{
    box-shadow: 1.5px 3px 0px 0px rgba(150, 150, 150, 0.377);
}
.section4 .section_wrap ul.box_wrap li a img{
    width: 100%;
}
.section4 .section_wrap ul.box_wrap li a .inner_txt{
    width: 100%;
}
.section4 .section_wrap ul.box_wrap li .inner_txt h3{
    padding: 3%;
    text-align: center;
    font-weight: 400;
    font-size: 1.125rem;
}
.section4 .section_wrap ul.box_wrap li .inner_txt h4{
    text-align: center;
    font-weight: 400;
}
.section4 .section_wrap ul.box_wrap li .inner_txt p {
    display: block;
    margin-bottom: 0;
    padding: 3%;
    text-align: center;
    color: rgb(247, 108, 119);
    font-size: 0.75rem;
}