
/* c1_sub */
/* .c1_sub{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 150px;
}
.c1_sub .container{
    width: 70%;
    padding-bottom: 150px;
    border-bottom:  1px solid #eee;
}
.c1_sub h2{
    text-align: left;
    width: 100%;
    padding-top:80px;
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
}
.c1_sub .c1_list{
    width: 100%;
}
.c1_sub .c1_list p{
    text-align: left;
    padding: 25px 5px;
    margin-bottom: 50px;
    display: block;
    white-space: normal;
    line-height: 1.6;
}

.c1_sub .c1_list ul.sitelist{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.c1_sub .c1_list ul.sitelist li{
    width: 23%;
    height: 270px;
    box-shadow: 1px 2px 2px 0px rgba(129, 126, 126, 0.342);
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.c1_sub .c1_list ul.sitelist li:nth-child(4n){
    margin-right: 0;
}
.c1_sub .c1_list ul.sitelist a{
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
}
.c1_sub .c1_list ul.sitelist a .inner_img{
    max-width: 100%;
}
.c1_sub .c1_list ul.sitelist a img{
    width: 100%;
    height: 100%;
    transition: all 0.6s;
    position: absolute;
    left: 0;
    top: 0;
}
.c1_sub .c1_list ul.sitelist li:hover img{
    transform: scale(1.1);
}
.c1_sub .c1_list ul.sitelist li a .inner_txt{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    display: none;
}
.c1_sub .c1_list ul.sitelist li:hover a .inner_txt{
    display: block;
    color: #fff;
    padding-top: 30%;
    background-color: rgba(0, 0, 0, 0.274);
    width: 100%;
    height: 100%;
}
.c1_sub .c1_list ul.sitelist li a .inner_txt h3{
    padding: 3%;
}
.c1_sub .c1_list ul.sitelist li a .inner_txt p{
    display: block;
    margin-bottom: 0;
    padding: 5%;
    text-align: center;
} */

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
/* @media all and (min-width:768px) and (max-width:1023px){
    .c1_sub{
        margin-bottom: 6em;
    }
    .c1_sub .container{
        padding-bottom: 8em;
    }
    .c1_sub .c1_list ul.sitelist li{
        width: 48%;
        margin-bottom: 1.5em;
    }

} */


/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
  /* @media all and (max-width:767px){
    .c1_sub{
        margin-bottom: 4em;
    }
    .c1_sub .container{
        width: 75%;
        padding-bottom: 4em;
    }
    .c1_sub h2{
        padding: 2em 0;
        font-size: 1.125rem;
    }
    .c1_sub .c1_list p{
        display: none;
    }
    .c1_sub .c1_list ul.sitelist{
        display: inline;
    }
    .c1_sub .c1_list ul.sitelist li{
        width: 90%;
        height: 14em;
        margin:2em auto;
    }
    .c1_sub .c1_list ul.sitelist li:nth-child(4n){
        margin:2em auto;
    }
    .c1_sub .c1_list ul.sitelist a img{
        width: 100%;
        height: 16em;
    }
  } */

  .c1_sub{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 8rem;
}
.c1_sub .container{
    width: 70%;
    padding: 25px 0;
}
.c1_sub h2{
    text-align: left;
    width: 100%;
    padding-top: 80px;
    font-size: 2.75rem;
    letter-spacing: -.03125rem;
    line-height: 3.25rem;
    margin: 0 auto;
    font-weight: normal;
}
.c1_sub p{
    text-align: left;
    padding: 25px 10px;
    margin-bottom: 50px;
    display: block;
    white-space: normal;
    line-height: 1.6;
}

.c1_sub ul.sitelist{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.c1_sub ul.sitelist li{
    width: 23%;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 0.0625rem solid #eee;
    transition: all 0.3s;
    overflow: hidden;
}
.c1_sub ul.sitelist li:nth-child(4n){
    margin-right: 0;
}
.c1_sub ul.sitelist li:hover{
    box-shadow: 1.5px 3px 0px 0px rgba(150, 150, 150, 0.377);
}
.c1_sub ul.sitelist li a{
    display: block;
    margin: 0 auto;
    text-align: left;
}
.c1_sub ul.sitelist li a .inner_img{
    width: 100%;
    overflow: hidden;
    height: auto;
}
.c1_sub ul.sitelist li a .inner_img img{
    width: 100%;
    height: 100%;
    text-align: center;
}
.c1_sub ul.sitelist li a .inner_txt h3{
    padding: 3%;
    font-weight: normal;
}
.c1_sub ul.sitelist li a .inner_txt p{
    display: block;
    margin-bottom: 0;
    padding: 5%;
    font-weight: 400;
    color: #212121;
    font-size: 0.8em;
    line-height: 1.5rem;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px){
    .c1_sub h2{
        padding-top: 2rem;
        font-size: 2rem;
    }
    .c1_sub ul.sitelist li{
        width: 30%;
    }
    .c1_sub ul.sitelist li a .inner_img{
        height: 100px;
    }

}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px){
    .c1_sub .container{
        width: 70%;
    }
    .c1_sub h2{
        font-size: 1.25rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .c1_sub p{
        font-size: 0.75rem;
        margin-bottom: 12%;
        padding: 0;
        line-height: 1.8;
    }
    .c1_sub ul.sitelist{
        display:inline;
        flex-wrap: nowrap;
        width: 85%;
    }
    .c1_sub ul.sitelist li{
        width: 100%;
        margin: 7% auto;
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid #eee;
    }
    .c1_sub ul.sitelist li a .inner_img{
        height: 90px;
        overflow: hidden;
    }
    .c1_sub ul.sitelist li .inner_txt{
        height: 100px;
    }
    .c1_sub ul.sitelist li .inner_txt h3{
        font-size: 1rem;
    }
    .c1_sub ul.sitelist li .inner_txt p{
        font-size: 0.75rem;
    }


}



/* c2_sub1 */
.c2_sub{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 150px;
}
.c2_sub .container{
    width: 70%;
    padding-bottom: 200px;
    border-bottom:  1px solid #eee;
}
.c2_sub h2{
    text-align: left;
    width: 100%;
    padding-top:80px;
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
}
.c2_sub p{
    text-align: left;
    padding: 2rem 0;
}
.c2_sub .bestsite ul.sitelist{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.c2_sub .bestsite ul.sitelist li{
    width: 23%;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 0.0625rem solid #eee;
    transition: all 0.3s;
    overflow: hidden;
}
.c2_sub .bestsite ul.sitelist li:nth-child(4n){
    margin-right: 0;
}
.c2_sub .bestsite ul.sitelist li a{
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
}
.c2_sub .bestsite ul.sitelist li:hover{
    box-shadow: 1.5px 3px 0px 0px rgba(150, 150, 150, 0.377);
}
.c2_sub .bestsite ul.sitelist li a .inner_img img{
    width: 100%;
    height: 250px;
}
.c2_sub .bestsite ul.sitelist li a .inner_txt{
    width: 100%;
}
.c2_sub .bestsite ul.sitelist li a .inner_txt h3{
    padding: 3%;
    text-align: center;
    font-weight: normal;
}
.c2_sub ul.sitelist li a .inner_txt h4{
    text-align: center;
    font-weight: 400;
    font-size: 0.9rem;
    color: #6e6e6e;
}
.c2_sub .bestsite ul.sitelist li a .inner_txt p{
    display: block;
    margin-bottom: 0;
    padding: 5%;
    text-align: center;
    color:rgb(247, 108, 119);
    font-size: 12px;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px){
    .c2_sub .container{
        padding-bottom: 6em;
    }
    .c2_sub .bestsite ul.sitelist li{
        width: 31%;
    }
}



/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
  @media all and (max-width:767px){
    .c2_sub {
        margin-bottom: 4em;
    }
    .c2_sub .container{
        width: 75%;
        padding-bottom: 6em;
    }
    .c2_sub h2{
        font-size: 1.25rem;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    .c2_sub p{
        font-size: 0.75rem;
        margin-bottom: 12%;
        padding: 0;
        line-height: 1.8;
    }
    .c2_sub .bestsite ul.sitelist{
        display:inline;
        flex-wrap: nowrap;
        width: 85%;
    }
    .c2_sub .bestsite ul.sitelist li{
        width: 100%;
        margin: 7% auto;
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid #eee;
    }
    .c2_sub .bestsite ul.sitelist a .inner_img{
        height: 145px;
        overflow: hidden;
    }
    .c2_sub .bestsite ul.sitelist .inner_txt{
        height: 100px;
    }
    .c2_sub .bestsite ul.sitelist .inner_txt h3{
        font-size: 1rem;
    }
    .c2_sub .bestsite ul.sitelist .inner_txt p{
        font-size: 0.75rem;
    }
  }









/* c3_sub1 */

.c3_sub1{
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.c3_sub1 .container{
    width: 70%;
    margin: 0 auto;
}
.c3_sub1 h2{
    text-align: left;
    width: 100%;
    padding-top: 80px;
    font-size: 2.75rem;
    letter-spacing: -.03125rem;
    line-height: 3.25rem;
    margin: 0 auto;
    font-weight: normal;
}
.c3_sub1 h3{
    text-align: left;
    width: 100%;
    padding-top:80px;
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
}
.c3_sub1 p{
    text-align: left;
    margin-top: 20px;
    color: #666666;
    word-break: keep-all;
}
.c3_sub1 ul.m_news{
    width: 100%;
    display: flex;
    margin: 50px 0;
}
.c3_sub1 ul.m_news li{
    width: 25%;
    height: 300px;
    border: 1px solid #eee;
    margin-right: 40px;
    border-radius: 10px;
    transition: all 0.3s;
    overflow: hidden;
}
.c3_sub1 ul.m_news li.mn_1{
    width: 50%;
}
.c3_sub1 ul.m_news li.mn_1 img{
    width: 100%;
    height: 100%;
    position: relative;
}
.c3_sub1 ul.m_news li.mn_1 a{
    width: 40%;
    overflow-wrap: break-word;
    margin-top: 9rem;
    color: #000;
    display: block;
    position: absolute;
    left: -4%;
    top: 6%;
    }
.c3_sub1 ul.m_news li.mn_1 a h3{
    font-size: 1.5rem;
}
.c3_sub1 ul.m_news li.mn_1 a span{
    display: block;
    margin-top: 1rem;
}
.c3_sub1 ul.m_news li:last-child{
    margin-right: 0;
}
.c3_sub1 ul.m_news li a{
    display: block;
    padding: 5%;
}
.c3_sub1 ul.m_news li a h3{
    text-align: left;
    font-size: 1.125rem;
    padding: 0;
}
.c3_sub1 ul.m_news li a p{
    font-size: 14px;
    margin: 20px 0;
}
.c3_sub1 ul.m_news li a span{
    margin-top: 1rem;
    display: block;
    text-align: left;
}
.c3_sub1 ul.m_news li:hover{
    box-shadow: 1.5px 3px 0px 0px rgba(150, 150, 150, 0.377);
}
.c3_sub1 .c4_contents{
    margin: 150px 0;
}
.c3_sub1 ul.sitelist{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}
.c3_sub1 ul.sitelist li{
    width: 23%;
    box-shadow: 1px 2px 2px 0px rgba(129, 126, 126, 0.342);
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
    overflow: hidden;
}
.c3_sub1 ul.sitelist li:nth-child(4n){
    margin-right: 0;
}
.c3_sub1 ul.sitelist li a{
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
}
.c3_sub1 ul.sitelist li:hover{
    box-shadow: 1.5px 4px 0px 0px rgba(150, 150, 150, 0.377);
}
.c3_sub1 ul.sitelist li a .inner_img{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.c3_sub1 ul.sitelist li a img{
    width: 100%;
}
.c3_sub1 ul.sitelist li a .inner_txt{
    width: 80%;
    padding: 5%;
    margin: 5px 0;
}
.c3_sub1 ul.sitelist li a .inner_txt span{
    display: block;
    color: rgb(139, 136, 136);
    font-size: 12px;
}
.c3_sub1 ul.sitelist li a .inner_txt p{
    display: block;
    margin-bottom: 0;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
}
.c3_sub1 a.c3s1_contents{
    width: 100%;
    height: 30px;
    display: block;
    margin: 50px 0;
}
.c3_sub1 .c3s1_list{
    width: 100%;
    padding: 5rem 0;
}
.c3_sub1 ul.list_wrap{
    width: 70%;
    margin: 4rem auto;
}
.c3_sub1 ul.list_wrap>li{
    border-bottom: 1px solid rgb(219, 217, 217);
    padding: 2rem 0;
}
.c3_sub1 ul.list_wrap>li>a{
    display: block;
}
.c3_sub1 ul.list_wrap>li>ul.list_inner{
    display: flex;
    width: 90%;
}
.c3_sub1 ul.list_wrap>li>ul.list_inner>li{
    width: 50%;
}
.c3_sub1 ul.list_wrap>li>ul.list_inner>li>a>img{
    width: 70%;
    border-radius: 10px;
}
.c3_sub1 ul.list_wrap>li>ul.list_inner>li>a>p{
    display: block;
    text-align: left;
}


/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px){
    .c3_sub1 h2{
        font-size: 1.75rem;
        padding-top: 4rem;
    }
    .c3_sub1 p{
        margin: 2rem 0;
    }
    .c3_sub1 ul.m_news{
        display: inline;
        width: 100%;
    }
    .c3_sub1 ul.m_news li.mn_1{
        width: 100%;
        height: 20em;
    }
    .c3_sub1 ul.m_news li{
        width: 100%;
        height: 8em;
        margin: 1em 0;
    }
    .c3_sub1 ul.m_news li.mn_1 a {
        margin-top: 4rem;
    }
    .c3_sub1 ul.m_news li.mn_1 a h3{
        font-size: 1.25rem;
    }
    .c3_sub1 ul.m_news li a p{
        display: none;
    }
    .c3s1_contents ul.sitelist li{
        width: 48%;
    }
    .c3_sub1 .c3s1_list{
        padding: 2rem 0;
    }
    .c3_sub1 ul.list_inner a p{
        margin: 0;
    }

}



/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
  @media all and (max-width:767px){
    .c3_sub1 .container{
        width: 75%;
    }
    .c3_sub1 h2{
        padding-top: 2em;
        font-size: 1.5rem;
    }
    .c3_sub1 p{
        font-size: 0.75rem;
        margin-bottom: 12%;
        padding: 0;
    }
    .c3_sub1 ul.m_news{
        display: inline;
        width: 100%;
    }

    .c3_sub1 ul.m_news li.mn_1{
        width: 100%;
        height: 15em;
    }
    .c3_sub1 ul.m_news li{
        width: 100%;
        height: 6em;
        margin: 1em 0;
    }
    .c3_sub1 ul.m_news li a{
        padding: 1% 5%;
    }
    .c3_sub1 ul.m_news li a span{
        font-size: 0.75rem;
    }
    .c3_sub1 ul.m_news li.mn_1 a {
        margin-top: 4rem;
    }
    .c3_sub1 ul.m_news li.mn_1 a h3{
        font-size: 1.125rem;
    }
    .c3_sub1 ul.m_news li a h3{
        font-size: 0.75rem;
        font-weight: bold;
    }
    .c3_sub1 ul.m_news li a p{
        display: none;
    }
    .c3s1_contents h3{
        font-size: 1.5rem;
    }
    .c3s1_contents ul.sitelist li{
        width: 48%;
    }
    .c3_sub1 .c3s1_list{
        padding: 2rem 0;
    }
    .c3s1_list h3{
        font-size: 1.5rem;
        padding-top: 0;
    }
    .c3_sub1 ul.list_wrap{
        width: 100%;
        margin: 2rem auto;
    }
    .c3_sub1 ul.list_wrap>li>ul.list_inner>li>a>img{
        width: 90%;
    }
    .c3_sub1 ul.list_wrap>li>ul.list_inner>li>a>p{
        margin-top: 0;
        font-size: 0.75rem;
        line-height: 1.8;
    }
  }








/* c3_sub2 */

.c3_sub2{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 150px;
}
.c3_sub2 .container{
    width: 70%;
    padding-bottom: 200px;
    border-bottom:  1px solid #eee;
}
.c3_sub2 h2{
    text-align: left;
    width: 100%;
    padding-top: 80px;
    font-size: 2.75rem;
    letter-spacing: -.03125rem;
    line-height: 3.25rem;
    margin: 0 auto;
    font-weight: normal;
}
.c3_sub2 .box{
    width: 100%;
    margin-top: 50px;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px){
    .c3_sub2{
        margin-bottom: 4em;
    }
    .c3_sub2 .container{
        padding-bottom: 6em;
    }
    .c3_sub2 h2{
        padding-top: 2em;
        font-size: 1.75rem;
    }
    iframe {
        width: 100%;
        height: 450px;
    }
}



/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
  @media all and (max-width:767px){
    .c3_sub2{
        margin-bottom: 4em;
    }
    .c3_sub2 .container{
        padding-bottom: 6em;
    }
    .c3_sub2 h2{
        padding-top: 2em;
        font-size: 1.25rem;
    }
    iframe {
        width: 100%;
        height: 400px;
    }
    .c3_sub2 .box{
        width: 100%;
        height: 450px;
    }
}












/* c3_sub3.html */
.c3_sub3{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 150px;
}
.c3_sub3 .container{
    width: 70%;
    padding: 25px 0;
}
.c3_sub3 h2{
    text-align: left;
    width: 100%;
    padding-top: 80px;
    font-size: 2.75rem;
    letter-spacing: -.03125rem;
    line-height: 3.25rem;
    margin: 0 auto;
    font-weight: normal;
}
.c3_sub3 p{
    text-align: left;
    padding: 25px 10px;
    margin-bottom: 50px;
    display: block;
    white-space: normal;
    line-height: 1.6;
}

.c3_sub3 ul.sitelist{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.c3_sub3 ul.sitelist li{
    width: 23%;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 0.0625rem solid #eee;
    transition: all 0.3s;
    overflow: hidden;
}
.c3_sub3 ul.sitelist li:nth-child(4n){
    margin-right: 0;
}
.c3_sub3 ul.sitelist li:hover{
    box-shadow: 1.5px 3px 0px 0px rgba(150, 150, 150, 0.377);
}
.c3_sub3 ul.sitelist li a{
    display: block;
    margin: 0 auto;
    text-align: left;
}
.c3_sub3 ul.sitelist li a img{
    width: 100%;
}
.c3_sub3 ul.sitelist li a .inner_txt{
    width: 80%;
    padding: 5%;
    margin: 5px 0;
}
.c3_sub3 ul.sitelist li a .inner_txt h3{
    padding: 3%;
    font-weight: normal;
}
.c3_sub3 ul.sitelist li a .inner_txt p{
    display: block;
    margin-bottom: 0;
    padding: 5%;
    font-weight: 400;
    color: #212121;
    font-size: 0.8em;
    line-height: 1.5rem;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px){
    .c3_sub3{
        margin-bottom: 4em;
    }
    .c3_sub3 h2{
        font-size: 1.75rem;
        padding-top: 2em;
    }
    .c3_sub3 ul.sitelist li{
        width: 31%;
    }


}



/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
  @media all and (max-width:767px){
    .c3_sub3{
        margin-bottom: 2em;
    }
    .c3_sub3 .container{
        width: 75%;
    }
    .c3_sub3 h2{
        font-size: 1.25rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .c3_sub3 p{
        font-size: 0.75rem;
        margin-bottom: 12%;
        padding: 0;
    }
    .c3_sub3 ul.sitelist{
        display:inline;
        flex-wrap: nowrap;
        width: 85%;
    }
    .c3_sub3 ul.sitelist li{
        width: 100%;
        margin: 7% auto;
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid #eee;
    }
    .c3_sub3 ul.sitelist li a .inner_img{
        height: 145px;
        overflow: hidden;
    }
    .c3_sub3 ul.sitelist li a .inner_txt{
        height: 100px;
    }
    .c3_sub3 ul.sitelist li a .inner_txt h3{
        font-size: 1rem;
        text-align: center;
    }
    .c3_sub3 ul.sitelist li a .inner_txt p{
        font-size: 0.6rem;
        line-height: 1.8;
        text-align: center;
    }


  }







/* c3_sub4 */
.c3_sub4{
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.c3_sub4 .container{
    width: 70%;
    margin: 0 auto;
}
.c3_sub4 h2{
    text-align: left;
    width: 100%;
    padding-top: 80px;
    font-size: 2.75rem;
    letter-spacing: -.03125rem;
    line-height: 3.25rem;
    margin: 0 auto;
    font-weight: normal;
}
.c3_sub4 h3{
    text-align: left;
    width: 100%;
    padding-top:80px;
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
}
.c3_sub4 p{
    text-align: left;
    margin-top: 20px;
    color: #666666;
    word-break: keep-all;
}
.c3_sub4 ul.m_news{
    width: 100%;
    display: flex;
    margin: 50px 0;
}
.c3_sub4 ul.m_news li{
    width: 25%;
    height: 300px;
    border: 1px solid #eee;
    margin-right: 40px;
    border-radius: 10px;
    transition: all 0.3s;
    overflow: hidden;
}
.c3_sub4 ul.m_news li.mn_1{
    width: 50%;
}
.c3_sub4 ul.m_news li.mn_1 img{
    width: 100%;
    height: 100%;
    position: relative;
}
.c3_sub4 ul.m_news li.mn_1 a{
    width: 40%;
    overflow-wrap: break-word;
    margin-top: 9rem;
    color: #000;
    display: block;
    position: absolute;
    left: -4%;
    top: 6%;
    }
.c3_sub4 ul.m_news li.mn_1 a h3{
    font-size: 1.5rem;
}
.c3_sub4 ul.m_news li.mn_1 a span{
    display: block;
    margin-top: 1rem;
}
.c3_sub4 ul.m_news li:last-child{
    margin-right: 0;
}
.c3_sub4 ul.m_news li a{
    display: block;
    padding: 5%;
}
.c3_sub4 ul.m_news li a h3{
    text-align: left;
    font-size: 1.125rem;
    padding: 0;
}
.c3_sub4 ul.m_news li a p{
    font-size: 14px;
    margin: 20px 0;
    width: 50%;
}
.c3_sub4 ul.m_news li a span{
    margin-top: 1rem;
    display: block;
    text-align: left;
}
.c3_sub4 ul.m_news li:hover{
    box-shadow: 1.5px 3px 0px 0px rgba(150, 150, 150, 0.377);
}
.c3_sub4 .c4_contents{
    margin: 150px 0;
}
.c3_sub4 ul.sitelist{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}
.c3_sub4 ul.sitelist li{
    width: 23%;
    box-shadow: 1px 2px 2px 0px rgba(129, 126, 126, 0.342);
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
    overflow: hidden;
}
.c3_sub4 ul.sitelist li:nth-child(4n){
    margin-right: 0;
}
.c3_sub4 ul.sitelist li a{
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
}
.c3_sub4 ul.sitelist li:hover{
    box-shadow: 1.5px 4px 0px 0px rgba(150, 150, 150, 0.377);
}
.c3_sub4 ul.sitelist li a img{
    width: 100%;
    height: 240px;
}
.c3_sub4 ul.sitelist li a .inner_txt{
    width: 80%;
    padding: 5%;
    margin: 5px 0;
}
.c3_sub4 ul.sitelist li a .inner_txt span{
    display: block;
    color: rgb(139, 136, 136);
    font-size: 12px;
}
.c3_sub4 ul.sitelist li a .inner_txt p{
    display: block;
    margin-bottom: 0;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
}
.c3_sub4 a.c3s1_contents{
    width: 100%;
    height: 30px;
    display: block;
    margin: 50px 0;
}
.c3_sub4 .c3s1_list{
    width: 100%;
    padding: 5rem 0;
}
.c3_sub4 ul.list_wrap{
    width: 70%;
    margin: 4rem auto;
}
.c3_sub4 ul.list_wrap>li{
    border-bottom: 1px solid rgb(219, 217, 217);
    padding: 2rem 0;
}
.c3_sub4 ul.list_wrap>li>a{
    display: block;
}
.c3_sub4 ul.list_wrap>li>ul.list_inner{
    display: flex;
    width: 90%;
}
.c3_sub4 ul.list_wrap>li>ul.list_inner>li{
    width: 50%;
}
.c3_sub4 ul.list_wrap>li>ul.list_inner>li>a>img{
    width: 70%;
    border-radius: 10px;
}
.c3_sub4 ul.list_wrap>li>ul.list_inner>li>a>p{
    display: block;
    text-align: left;
}


/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px){
    .c3_sub4 h2{
        font-size: 1.75rem;
        padding-top: 4rem;
    }
    .c3_sub4 p{
        margin: 2rem 0;
    }
    .c3_sub4 ul.m_news{
        display: inline;
        width: 100%;
    }
    .c3_sub4 ul.m_news li.mn_1{
        width: 100%;
        height: 20em;
    }
    .c3_sub4 ul.m_news li{
        width: 100%;
        height: 8em;
        margin: 1em 0;
    }
    .c3_sub4 ul.m_news li.mn_1 a {
        margin-top: 4rem;
    }
    .c3_sub4 ul.m_news li.mn_1 a h3{
        font-size: 1.25rem;
    }
    .c3_sub4 ul.m_news li a p{
        display: none;
    }
    .c3s1_contents ul.sitelist li{
        width: 48%;
    }
    .c3_sub4 .c3s1_list{
        padding: 2rem 0;
    }
    .c3_sub4 ul.list_wrap>li>ul.list_inner>li>a>p{
        margin: 0 auto;
    }
    .c3_sub4 ul.list_inner a p{
        margin: 0;
    }

}



/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
  @media all and (max-width:767px){
    .c3_sub4 .container{
        width: 75%;
    }
    .c3_sub4 h2{
        font-size: 1.5rem;
        padding-top: 2em;
    }
    .c3_sub4 p{
        font-size: 0.75rem;
        margin-bottom: 12%;
        padding: 0;
    }
    .c3_sub4 ul.m_news{
        display: inline;
        width: 100%;
    }

    .c3_sub4 ul.m_news li.mn_1{
        width: 100%;
        height: 15em;
    }
    .c3_sub4 ul.m_news li{
        width: 100%;
        height: 6em;
        margin: 1em 0;
    }
    .c3_sub4 ul.m_news li a{
        padding: 1% 5%;
    }
    .c3_sub4 ul.m_news li a span{
        font-size: 0.75rem;
    }
    .c3_sub4 ul.m_news li.mn_1 a {
        margin-top: 4rem;
    }
    .c3_sub4 ul.m_news li.mn_1 a h3{
        font-size: 1.125rem;
    }
    .c3_sub4 ul.m_news li a h3{
        font-size: 0.75rem;
        font-weight: bold;
    }
    .c3_sub4 ul.m_news li a p{
        display: none;
    }
    .c3s1_contents h3{
        font-size: 1.5rem;
    }
    .c3s1_contents ul.sitelist li{
        width: 48%;
    }
    .c3_sub4 .c3s1_list{
        padding: 2rem 0;
    }
    .c3s1_list h3{
        font-size: 1.5rem;
        padding-top: 0;
    }
    .c3_sub4 ul.list_wrap{
        width: 100%;
        margin: 2rem auto;
    }
    .c3_sub4 ul.list_wrap>li>ul.list_inner>li>a>img{
        width: 90%;
    }
    .c3_sub4 ul.list_wrap>li>ul.list_inner>li>a>p{
        margin-top: 0;
        font-size: 0.75rem;
        line-height: 1.8;
        padding:2%
    }
  }








/* c3_sub5 */
.c3_sub5{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 150px;
}
.c3_sub5 .container{
    width: 70%;
    padding: 25px 0;
}
.c3_sub5 h2{
    text-align: left;
    width: 100%;
    padding-top: 80px;
    font-size: 2.75rem;
    letter-spacing: -.03125rem;
    line-height: 3.25rem;
    margin: 0 auto;
    font-weight: normal;
}

.c3_sub5 p{
    text-align: left;
    padding: 2rem 0;
}
.c3_sub5 ul.sitelist{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5rem 0;
}
.c3_sub5 ul.sitelist li{
    width: 23%;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 0.0625rem solid #eee;
    transition: all 0.3s;
    overflow: hidden;
}
.c3_sub5 ul.sitelist li:nth-child(4n){
    margin-right: 0;
}
.c3_sub5 ul.sitelist li:hover{
    box-shadow: 1.5px 3px 0px 0px rgba(150, 150, 150, 0.377);
}
.c3_sub5 ul.sitelist li a{
    display: block;
    margin: 0 auto;
    text-align: left;
}
.c3_sub5 ul.sitelist li a .inner_img{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.c3_sub5 ul.sitelist li a img{
    width: 100%;
}
.c3_sub5 ul.sitelist li a .inner_txt h3{
    padding: 3%;
    font-weight: normal;
}
.c3_sub5 ul.sitelist li a .inner_txt p{
    display: block;
    margin-bottom: 0;
    padding: 5%;
    font-weight: 400;
    color: #212121;
    font-size: 0.8em;
    line-height: 1.5rem;
}


/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px){
    .c3_sub5{
        margin-bottom: 4em;
    }
    .c3_sub5 h2{
        font-size: 1.75rem;
        padding-top: 2em;
    }
    .c3_sub5 ul.sitelist li{
        width: 31%;
    }


}



/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
  @media all and (max-width:767px){
    .c3_sub5{
        margin-bottom: 2em;
    }
    .c3_sub5 .container{
        width: 75%;
    }
    .c3_sub5 h2{
        font-size: 1.25rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .c3_sub5 p{
        font-size: 0.75rem;
        margin-bottom: 12%;
        padding: 0;
    }
    .c3_sub5 ul.sitelist{
        display:inline;
        flex-wrap: nowrap;
        width: 85%;
    }
    .c3_sub5 ul.sitelist li{
        width: 100%;
        margin: 7% auto;
        border: 0;
        border-radius: 0;
        border-bottom: 2px solid #eee;
    }
    .c3_sub5 ul.sitelist li a .inner_img{
        height: 145px;
        overflow: hidden;
    }
    .c3_sub5 ul.sitelist li a .inner_txt{
        height: 100px;
    }
    .c3_sub5 ul.sitelist li a .inner_txt h3{
        font-size: 1rem;
        text-align: center;
    }
    .c3_sub5 ul.sitelist li a .inner_txt p{
        font-size: 0.6rem;
        line-height: 1.8;
        text-align: center;
    }


  }









/* c3_sub6 */
.c3_sub6{
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.c3_sub6 .container{
    width: 70%;
    margin: 0 auto;
}
.c3_sub6 h2{
    text-align: left;
    width: 100%;
    padding-top: 80px;
    font-size: 2.75rem;
    letter-spacing: -.03125rem;
    line-height: 3.25rem;
    margin: 0 auto;
    font-weight: normal;
}
.c3_sub6 h3{
    text-align: left;
    width: 100%;
    padding-top:80px;
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
}
.c3_sub6 p{
    text-align: left;
    margin-top: 20px;
    color: #666666;
    word-break: keep-all;
}
.c3_sub6 ul.m_news{
    width: 100%;
    display: flex;
    margin: 50px 0;
}
.c3_sub6 ul.m_news li{
    width: 25%;
    height: 300px;
    border: 1px solid #eee;
    margin-right: 40px;
    border-radius: 10px;
    transition: all 0.3s;
    overflow: hidden;
}
.c3_sub6 ul.m_news li.mn_1{
    width: 50%;
}
.c3_sub6 ul.m_news li.mn_1 img{
    width: 100%;
    height: 100%;
    position: relative;
}
.c3_sub6 ul.m_news li.mn_1 a{
    width: 40%;
    overflow-wrap: break-word;
    margin-top: 9rem;
    color: #000;
    display: block;
    position: absolute;
    left: -4%;
    top: 6%;
    }
.c3_sub6 ul.m_news li.mn_1 a h3{
    font-size: 1.5rem;
}
.c3_sub6 ul.m_news li.mn_1 a span{
    display: block;
    margin-top: 1rem;
}
.c3_sub6 ul.m_news li:last-child{
    margin-right: 0;
}
.c3_sub6 ul.m_news li a{
    display: block;
    padding: 5%;
}
.c3_sub6 ul.m_news li a h3{
    text-align: left;
    font-size: 1.125rem;
    padding: 0;
}
.c3_sub6 ul.m_news li a p{
    font-size: 14px;
    margin: 20px 0;
    width: 50%;
}
.c3_sub6 ul.m_news li a span{
    margin-top: 1rem;
    display: block;
    text-align: left;
}
.c3_sub6 ul.m_news li:hover{
    box-shadow: 1.5px 3px 0px 0px rgba(150, 150, 150, 0.377);
}
.c3_sub6 .c4_contents{
    margin: 150px 0;
}
.c3_sub6 ul.sitelist{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}
.c3_sub6 ul.sitelist li{
    width: 23%;
    box-shadow: 1px 2px 2px 0px rgba(129, 126, 126, 0.342);
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
}
.c3_sub6 ul.sitelist li:nth-child(4n){
    margin-right: 0;
}
.c3_sub6 ul.sitelist li a{
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
}
.c3_sub6 ul.sitelist li:hover{
    box-shadow: 1.5px 4px 0px 0px rgba(150, 150, 150, 0.377);
}
.c3_sub6 ul.sitelist li a img{
    width: 100%;
}
.c3_sub6 ul.sitelist li a .inner_txt{
    width: 80%;
    padding: 5%;
    margin: 5px 0;
}
.c3_sub6 ul.sitelist li a .inner_txt span{
    display: block;
    color: rgb(139, 136, 136);
    font-size: 12px;
}
.c3_sub6 ul.sitelist li a .inner_txt p{
    display: block;
    margin-bottom: 0;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
}
.c3_sub6 a.c3s1_contents{
    width: 100%;
    height: 30px;
    display: block;
    margin: 50px 0;
}
.c3_sub6 .c3s1_list{
    width: 100%;
    padding: 5rem 0;
}
.c3_sub6 ul.list_wrap{
    width: 70%;
    margin: 4rem auto;
}
.c3_sub6 ul.list_wrap>li{
    border-bottom: 1px solid rgb(219, 217, 217);
    padding: 2rem 0;
}
.c3_sub6 ul.list_wrap>li>a{
    display: block;
}
.c3_sub6 ul.list_wrap>li>ul.list_inner{
    display: flex;
    width: 90%;
}
.c3_sub6 ul.list_wrap>li>ul.list_inner>li{
    width: 50%;
}
.c3_sub6 ul.list_wrap>li>ul.list_inner>li>a>img{
    width: 70%;
    border-radius: 10px;
}
.c3_sub6 ul.list_wrap>li>ul.list_inner>li>a>p{
    display: block;
    text-align: left;
}


/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px){
    .c3_sub6 h2{
        font-size: 1.75rem;
        padding-top: 4rem;
    }
    .c3_sub6 p{
        margin: 2rem 0;
    }
    .c3_sub6 ul.m_news{
        display: inline;
        width: 100%;
    }
    .c3_sub6 ul.m_news li.mn_1{
        width: 100%;
        height: 20em;
    }
    .c3_sub6 ul.m_news li{
        width: 100%;
        height: 8em;
        margin: 1em 0;
    }
    .c3_sub6 ul.m_news li.mn_1 a {
        margin-top: 4rem;
    }
    .c3_sub6 ul.m_news li.mn_1 a h3{
        font-size: 1.25rem;
    }
    .c3_sub6 ul.m_news li a p{
        display: none;
    }
    .c3s1_contents ul.sitelist li{
        width: 48%;
    }
    .c3_sub6 .c3s1_list{
        padding: 2rem 0;
    }
    .c3_sub6 ul.list_wrap>li>ul.list_inner>li>a>p{
        margin: 0 auto;
    }
    .c3_sub6 ul.list_inner a p{
        margin: 0;
    }

}



/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
  @media all and (max-width:767px){
    .c3_sub6 .container{
        width: 75%;
    }
    .c3_sub6 h2{
        font-size: 1.5rem;
        padding-top: 2em;
    }
    .c3_sub6 p{
        font-size: 0.75rem;
        margin-bottom: 12%;
        padding: 0;
    }
    .c3_sub6 ul.m_news{
        display: inline;
        width: 100%;
    }

    .c3_sub6 ul.m_news li.mn_1{
        width: 100%;
        height: 15em;
    }
    .c3_sub6 ul.m_news li{
        width: 100%;
        height: 6em;
        margin: 1em 0;
    }
    .c3_sub6 ul.m_news li a{
        padding: 1% 5%;
    }
    .c3_sub6 ul.m_news li a span{
        font-size: 0.75rem;
    }
    .c3_sub6 ul.m_news li.mn_1 a {
        margin-top: 4rem;
    }
    .c3_sub6 ul.m_news li.mn_1 a h3{
        font-size: 1.125rem;
    }
    .c3_sub6 ul.m_news li a h3{
        font-size: 0.75rem;
        font-weight: bold;
    }
    .c3_sub6 ul.m_news li a p{
        display: none;
    }
    .c3s1_contents h3{
        font-size: 1.5rem;
    }
    .c3s1_contents ul.sitelist li{
        width: 48%;
    }
    .c3_sub6 .c3s1_list{
        padding: 2rem 0;
    }
    .c3s1_list h3{
        font-size: 1.5rem;
        padding-top: 0;
    }
    .c3_sub6 ul.list_wrap{
        width: 100%;
        margin: 2rem auto;
    }
    .c3_sub6 ul.list_wrap>li>ul.list_inner>li>a>img{
        width: 90%;
    }
    .c3_sub6 ul.list_wrap>li>ul.list_inner>li>a>p{
        margin-top: 0;
        font-size: 0.75rem;
        line-height: 1.8;
        padding:2%
    }
  }












/* c4_sub1 */
.c4_sub1{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 150px;
}
.c4_sub1 .container{
    width: 70%;
    padding-bottom: 150px;
    border-bottom:  1px solid #eee;
}
.c4_sub1 h2{
    text-align: left;
    width: 100%;
    padding-top:80px;
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
}
.c4_sub1 .p1{
    padding-top: 30px;
    text-align: left;
    width: 40%;
}

.c4_sub1 a.formclick_wrap{
    text-align: left;
    width: 100%;
    display: block;
    margin: 2em 0;
}
.c4_sub1 .formclick{
    width: 50%;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 1%;
}
.c4_sub1 .formclick h3{
    margin-top: -35px;
    margin-bottom: 10px;
}

.c4_sub1 a.span_a ul.icon_txt{
    width: 25%;
    text-align: left;
    display: flex;
}
.c4_sub1 a.span_a ul.icon_txt li p{
    width: 100%;
    display: block;
    line-height: 2.5;
}
.c4_sub1 a.span_a ul.icon_txt li p:hover{
    color:#b4b2b2 ;
}

.c4_sub1 .bestsite ul.sitelist{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}
.c4_sub1 .bestsite ul.sitelist li{
    width: 23%;
    box-shadow: 1px 2px 2px 0px rgba(129, 126, 126, 0.342);
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}
.c4_sub1 .bestsite ul.sitelist li:nth-child(4n){
    margin-right: 0;
}
.c4_sub1 .bestsite ul.sitelist li a{
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
}
.c4_sub1 .bestsite ul.sitelist li a .inner_img{
    height: 200px;
    overflow: hidden;
}
.c4_sub1 .bestsite ul.sitelist li a img{
    width: 100%;
    transition: all 0.6s;
    height: 210px;
}
.c4_sub1 .bestsite ul.sitelist li:hover img{
    transform: scale(1.1);
}
.c4_sub1 .bestsite ul.sitelist li a .inner_txt{
    width: 80%;
    padding: 5%;
    margin: 5px 0;
}
.c4_sub1 .bestsite ul.sitelist li a .inner_txt span{
    display: block;
    color: rgb(139, 136, 136);
    font-size: 0.75rem;
}
.c4_sub1 .bestsite ul.sitelist li a .inner_txt p{
    display: block;
    margin-bottom: 0;
    text-align: left;
    font-size: 1rem;
    margin-top: 10%;
    font-weight: 500;
}




/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px){
    .c4_sub1{
        margin-bottom: 4em;
    }
    .c4_sub1 .container{
        padding-bottom: 4em;
    }
    .c4_sub1 h2{
        font-size: 1.75rem;
        padding-top: 2em;
    }
    .c4_sub1 .p1{
        width: 100%;
    }
    .c4_sub1 .bestsite ul.sitelist li{
        width: 31%;
    }
    .c4_sub1 .formclick{
        width: 100%;
    }
    .c4_sub1 a.formclick_wrap{
        width: 100%;
    }
    .c4_sub1 .formclick h3{
        margin-top: -25px;
        margin-bottom: 10px;
    }
    .c4_sub1 a.span_a ul.icon_txt{
        width: 100%;
    }
}



/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px){
    .c4_sub1{
        margin-bottom: 2em;
    }
    .c4_sub1 .container{
        padding-bottom: 2em;
    }
    .c4_sub1 h2{
        font-size: 1.125rem;
        padding-top: 2em;
        letter-spacing: -0.07em;
    }
    .c4_sub1 .p1{
        font-size: 0.75rem;
        margin: 12% 0;
        padding: 0;
        width: 100%;
        line-height: 1.8;
    }
    .c4_sub1 .bestsite ul.sitelist{
        display: inline;
    }
    .c4_sub1 .bestsite ul.sitelist li{
        width: 90%;
        margin: 10% auto;
    }
    .c4_sub1 .bestsite ul.sitelist li:nth-child(4n){
        margin: 10% auto;
    }
    .c4_sub1 .formclick{
        width: 85%;
        margin: 0 auto;
    }
    .c4_sub1 a.formclick_wrap{
        width: 100%;
    }
    .c4_sub1 .formclick h3{
        margin-top: -25px;
        margin-bottom: 15px;
        font-size: 1rem;
    }
    .c4_sub1 a.span_a ul.icon_txt{
        width: 100%;
    }
    .c4_sub1 .formclick p{
        font-size: 0.8rem;
    }

}





/* c4_sub2 */
.c4_sub2{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 150px;
}
.c4_sub2 .container{
    width: 70%;
    padding-bottom: 150px;
    border-bottom:  1px solid #eee;
}
.c4_sub2 h2{
    text-align: left;
    width: 100%;
    padding-top:80px;
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
}
.c4_sub2 .p1{
    padding-top: 30px;
    text-align: left;
    width: 40%;
}
.c4_sub2 .bestsite ul.sitelist{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}
.c4_sub2 .bestsite ul.sitelist li{
    width: 23%;
    box-shadow: 1px 2px 2px 0px rgba(129, 126, 126, 0.342);
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}
.c4_sub2 .bestsite ul.sitelist li:nth-child(4n){
    margin-right: 0;
}
.c4_sub2 .bestsite ul.sitelist li a{
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
}
.c4_sub2 .bestsite ul.sitelist li a .inner_img{
    height: 210px;
    overflow: hidden;
}
.c4_sub2 .bestsite ul.sitelist li a img{
    width: 100%;
    transition: all 0.6s;
    height: 210px;
}
.c4_sub2 .bestsite ul.sitelist li:hover img{
    transform: scale(1.1);
}
.c4_sub2 .bestsite ul.sitelist li a .inner_txt{
    width: 80%;
    padding: 5%;
    margin: 5px 0;
}
.c4_sub2 .bestsite ul.sitelist li a .inner_txt span{
    display: block;
    color: rgb(139, 136, 136);
    font-size: 12px;
}
.c4_sub2 .bestsite ul.sitelist li a .inner_txt p{
    display: block;
    margin-bottom: 0;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
}





/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px){
    .c4_sub2{
        margin-bottom: 4em;
    }
    .c4_sub2 .container{
        padding-bottom: 4em;
    }
    .c4_sub2 h2{
        font-size: 1.75rem;
        padding-top: 2em;
    }
    .c4_sub2 .p1{
        width: 100%;
    }
    .c4_sub2 .bestsite ul.sitelist li{
        width: 31%;
    }



}



/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
  @media all and (max-width:767px){
    .c4_sub2{
        margin-bottom: 2em;
    }
    .c4_sub2 .container{
        padding-bottom: 2em;
    }
    .c4_sub2 h2{
        font-size: 1.125rem;
        padding-top: 2em;
    }
    .c4_sub2 .p1{
        font-size: 0.75rem;
        margin: 12% 0;
        padding: 0;
        width: 100%;
        line-height: 1.8;
    }
    .c4_sub2 .bestsite ul.sitelist{
        display: inline;
    }
    .c4_sub2 .bestsite ul.sitelist li{
        width: 90%;
        margin: 10% auto;
    }
    .c4_sub2 .bestsite ul.sitelist li:nth-child(4n){
        margin: 10% auto;
    }

  }




  /* c4_sub3 */


  .c4_sub3{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 150px;
}
.c4_sub3 .container{
    width: 70%;
    padding-bottom: 150px;
    border-bottom:  1px solid #eee;
}
.c4_sub3 h2{
    text-align: left;
    width: 100%;
    padding-top:80px;
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
}
.c4_sub3 .p1{
    padding-top: 30px;
    text-align: left;
    width: 40%;
}
.c4_sub3 a.formclick_wrap{
    text-align: left;
    width: 100%;
    display: block;
    margin: 2em 0;
}
.c4_sub3 .formclick{
    width: 50%;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 1%;
}
.c4_sub3 .formclick h3{
    margin-top: -35px;
    margin-bottom: 10px;
}
.c4_sub3 a.span_a ul.icon_txt{
    width: 25%;
    text-align: left;
    display: flex;
}
.c4_sub3 a.span_a ul.icon_txt li p{
    width: 100%;
    display: block;
    line-height: 2.5;
}
.c4_sub3 a.span_a ul.icon_txt li p:hover{
    color:#b4b2b2 ;
}
.c4_sub3 .bestsite h3{
    text-align: left;
    margin-top: 5em;
    font-size: 1.25rem;
}
.c4_sub3 .bestsite ul.sitelist{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3em;
}
.c4_sub3 .bestsite ul.sitelist li{
    width: 23%;
    box-shadow: 1px 2px 2px 0px rgba(129, 126, 126, 0.342);
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}
.c4_sub3 .bestsite ul.sitelist li:nth-child(4n){
    margin-right: 0;
}
.c4_sub3 .bestsite ul.sitelist li a{
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
}
.c4_sub3 .bestsite ul.sitelist li a .inner_img{
    height: 210px;
    overflow: hidden;
}
.c4_sub3 .bestsite ul.sitelist li a img{
    width: 100%;
    transition: all 0.6s;
    height: 210px;
}
.c4_sub3 .bestsite ul.sitelist li:hover img{
    transform: scale(1.1);
}
.c4_sub3 .bestsite ul.sitelist li a .inner_txt{
    width: 80%;
    padding: 5%;
    margin: 5px 0;
}
.c4_sub3 .bestsite ul.sitelist li a .inner_txt span{
    display: block;
    color: rgb(139, 136, 136);
    font-size: 12px;
}
.c4_sub3 .bestsite ul.sitelist li a .inner_txt p{
    display: block;
    margin-bottom: 0;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
}

.c4_sub3 a.c4btn_wrap{
    width: 100%;
    height: 30px;
    display: block;
    margin: 50px 0;
}
.c4_sub3 a.c4btn_wrap .c4btn{
    width: 80px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(39, 75, 235);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}



/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px){
    .c4_sub3{
        margin-bottom: 4em;
    }
    .c4_sub3 .container{
        padding-bottom: 4em;
    }
    .c4_sub3 h2{
        font-size: 1.75rem;
        padding-top: 2em;
    }
    .c4_sub3 .p1{
        width: 100%;
    }
    .c4_sub3 .bestsite ul.sitelist li{
        width: 31%;
    }
    .c4_sub3 .formclick{
        width: 100%;
    }
    .c4_sub3 a.formclick_wrap{
        width: 100%;
    }
    .c4_sub3 .formclick h3{
        margin-top: -25px;
        margin-bottom: 10px;
    }
    .c4_sub3 a.span_a ul.icon_txt{
        width: 100%;
    }

}



/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px){
    .c4_sub3{
        margin-bottom: 2em;
    }
    .c4_sub3 .container{
        padding-bottom: 2em;
    }
    .c4_sub3 h2{
        font-size: 1.125rem;
        padding-top: 2em;
    }
    .c4_sub3 .p1{
        font-size: 0.75rem;
        margin: 12% 0;
        padding: 0;
        width: 100%;
        line-height: 1.8;
    }
    .c4_sub3 .bestsite ul.sitelist{
        display: inline;
    }
    .c4_sub3 .bestsite ul.sitelist li{
        width: 90%;
        margin: 10% auto;
    }
    .c4_sub3 .bestsite ul.sitelist li:nth-child(4n){
        margin: 10% auto;
    }
    .c4_sub3 .formclick{
        width: 85%;
        margin: 0 auto;
    }
    .c4_sub3 a.formclick_wrap{
        width: 100%;
    }
    .c4_sub3 .formclick h3{
        margin-top: -25px;
        margin-bottom: 15px;
        font-size: 1rem;
    }
    .c4_sub3 a.span_a ul.icon_txt{
        width: 100%;
    }
    .c4_sub3 .formclick p{
        font-size: 0.8rem;
    }
}